<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Pass all requests to the Go app running on localhost:8090 -->
      <add name="GoHandler" path="*" verb="*" modules="RewriteModule" resourceType="Unspecified" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="ReverseProxyInboundRule1" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:8090/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
<!-- Needs  URL Rewrite Module-->